<div class="flex-container">
    <div class="flex-block-content">
        <form action="{{formaction}}" method="post">
            <input type="hidden" name="userid" value="{{userid}}" />
            <input type="hidden" name="courseid" value="{{courseid}}" />

            <table style="width: 100%; margin-bottom: 20px; border: 1px solid #cccccc;">
                <thead>
                    <tr style="background: #ebebeb;">
                        <th style="font-size: .72rem; padding: 5px; border: 1px solid #cccccc;">PROVA</th>
                        <th style="font-size: .72rem; padding: 5px; border: 1px solid #cccccc;">SENHA ATUAL</th>
                    </tr>
                </thead>

                <tbody>
                    {{#quiz}}
                        <tr>
                            <td style="padding: 5px; font-size: .72rem; font-weight: 400; border: 1px solid #cccccc;">{{fullname}}</td>
                            <td style="padding: 5px; font-size: .72rem; font-weight: 400; border: 1px solid #cccccc;">
                                <input type="text" name="password" value="{{password}}" disabled="disabled" style="width: 100%;" />
                            </td>
                        </tr>
                    {{/quiz}}
                </tbody>

                <tfoot>
                    <tr style="background: #ebebeb;">
                        <td style="padding: 10px 5px; border: 1px solid #cccccc;" colspan="2">
                            <label for="grade">Nova Senha:</label>
                            <br>
                            <input type="text" name="new_password" style="width: 100%;" required />
                        </td>
                    </tr>
                </tfoot>
            </table>

            <input type="submit" value="Atualizar" />
        </form>
    </div>
</div>